<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CpuGpuGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CpuGpuGraph.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>525</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
        </CpuGpuGraph.Properties.Settings>
    </userSettings>
</configuration>